[submodule "oboe"]
	path = android/src/main/cpp/external/oboe
	url = git@github.com:google/oboe.git


[submodule "flac"]
	path = android/src/main/cpp/external/decoders/flac
	url = git@github.com:xiph/flac.git

[submodule "ogg"]
	path = android/src/main/cpp/external/decoders/ogg
	url = git@github.com:xiph/ogg.git

